@using BlazorWasm.Data.Entities.Contaters.Dtos
@using BlazorWasm.Entities.Contaters.Contracts
@using Blazored.Toast.Configuration
@inject IContactersService _contactersService
@inject IToastService toastService

<EditForm Model="model" OnValidSubmit="SendMail" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <!-- Full Name -->
    <div class="mb-3">
        <ValidationMessage class="text-danger" For="@(() => model.FullName)" />
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" @bind-value="@model.FullName" class="form-control" id="fullName"
            placeholder="Enter your full name" required>
    </div>

    <!-- Subject -->
    <div class="mb-3">
        <ValidationMessage class="text-danger" For="@(() => model.Subject)" />
        <label for="subject" class="form-label">Subject</label>
        <input type="text" @bind-value="@model.Subject" class="form-control" id="subject" placeholder="Enter subject"
            required>
    </div>

    <!-- Email -->
    <div class="mb-3">
        <ValidationMessage class="text-danger" For="@(() => model.Email)" />
        <label for="email" class="form-label">Email</label>
        <input type="email" @bind-value="@model.Email" class="form-control" id="email" placeholder="Enter your email"
            required>
    </div>

    <div class="mb-3">
        <ValidationMessage class="text-danger" For="@(() => model.Description)" />

        <label for="description" class="form-label">description</label>
        <textarea @bind="@model.Description" class="form-control" id="description"
            placeholder="Enter your description"></textarea>
    </div>

    <!-- Submit Button -->
    <div class="d-grid">
        <button class="btn btn-success">Send Message</button>
    </div>
    <BlazoredToasts />

</EditForm>
@code {

    public CreateContacterDto model { get; set; } = new();
    private async Task SendMail(EditContext e)
    {
        var result = true;
        if (result)
        {
            toastService.ShowToast(ToastLevel.Success, "Create of contact is successfull", opt =>
            {
                opt.Position = ToastPosition.BottomRight;
                opt.ShowCloseButton = true;
                opt.PauseProgressOnHover = true;
            });
            await Task.Delay(1000);
            model = new();
        }
        else
        {
            toastService.ShowToast(ToastLevel.Error, "Contact creation Error!", opt =>
            {
                opt.Position = ToastPosition.BottomLeft;
                opt.ShowCloseButton = true;
                opt.PauseProgressOnHover = true;
            });
        }
    }

    private void HandleInvalidSubmit()
    {
        toastService.ShowToast(ToastLevel.Warning, "Please correct the errors in the form.", opt =>
        {
            opt.Position = ToastPosition.BottomLeft;
            opt.ShowCloseButton = true;
            opt.PauseProgressOnHover = true;
        });
    }
}
