@using BlazorWasm.Entities.Contaters.Contracts
@using BlazorWasm.Entities.Contaters.Dtos
@using Blazored.Toast.Configuration
@inject IContactersService _contactersService
@inject IToastService toastService

<form Model="@model" @onsubmit="SendEmail">
    <!-- Full Name -->
    <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" @bind-value="@model.FullName" class="form-control" id="fullName"
            placeholder="Enter your full name" required>
    </div>

    <!-- Subject -->
    <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" @bind-value="@model.Subject" class="form-control" id="subject" placeholder="Enter subject"
            required>
    </div>

    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" @bind-value="@model.Email" class="form-control" id="email" placeholder="Enter your email"
            required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" @bind-value="@model.Description" class="form-control" id="description"
            placeholder="Enter your description" />
    </div>

    <!-- Submit Button -->
    <div class="d-grid">
        <button type="submit" class="btn btn-warning">Send Message</button>
    </div>
    <BlazoredToasts />

</form>
@code {

    public CreateContacterDto model { get; set; } = new();
    private async Task SendEmail(EventArgs e)
    {
        var result = await _contactersService.Create(model);

        if (!result)
        {
            toastService.ShowToast(ToastLevel.Error, "Contact creation Error!", opt =>
            {
                opt.Position = ToastPosition.BottomLeft;
                opt.ShowCloseButton = true;
                opt.PauseProgressOnHover = true;
            });
        }
    }
}
